# Byte‑compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# macOS
.DS_Store

# IDEs / editors
.idea/
*.sublime-*
.vscode/

# Logs
*.log

# Environment variables
.env
.env.local
.env.*
!.env.example

# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
